.card {
    display: inline-block;
    margin-left: 55px;
    padding: 51px 64px 109px 41px;
    box-shadow: 10px 15px 15px rgb(174, 173, 173);
    border-radius: 8px;
}

.card-image {
    width: 400px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
}

.card-price {
    font-weight: 400;
    font-size: 18px;
    color: gray;
}

.card-btn {
    background-color: #5AB963;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.card-btn:hover{
    background-color: #284a2b;
    transform: scale(1.2);
}