/* .btn{
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px 12px;
}

.btn:hover{
    background-color: cornflowerblue;
    color: white;
    transform:scale(1.2);
}


.block{
    background-color: brown;
    width: 100px;
    height: 200px;
    margin-top: 30px;
    display: inline-block;
    /* display: inline; */
}

.str{
    background-color: aqua;
    width: 100px;
    height: 100px;
    /* display: block; */
}

/* *{
    box-sizing: border-box;   
}

.info{
    width: 100px;
    padding: 20px 30px;
    border: 2px solid red;
} */

